{% include "sidebar.html.twig" %}
<title>
	{% block title %}Etudiant
	{% endblock %}
</title>
{% form_theme form "bootstrap_5_layout.html.twig" %}
{% block body %}
<div class="containerSidebar">
	<div class="login">
		<div class="lo cart">
			<div class="fontlog">Création d'etudiant</div>
			<div class="centrage">
				<div class="formcontainerEt">
					<div class="flexForm">
						<div class="text1">
							{{ form_start(form)}}
							{{ form_label(form.lastname, 'Nom d\'utilisateur')}}
                            {{ form_errors(form.lastname)}}
                            {{ form_widget(form.lastname) }}	

                            {{ form_label(form.firstname, 'Prénom')}}
                            {{ form_errors(form.firstname)}}
                            {{ form_widget(form.firstname) }}  
                            
                            {{ form_label(form.email, 'Email')}}
                            {{ form_errors(form.email)}}
                            {{ form_widget(form.email) }}

                            {{ form_label(form.password, 'Mot de passe')}}
                            {{ form_errors(form.password)}}
                            {{ form_widget(form.password, ) }}
                        </div>
                        <div class="text2">
                            <div class="form-file pdp">
                                <label for="etudiant_pdp">
                                <i class="fas fa-camera fa-2x"></i>
                                </label>
                                {{ form_widget(form.pdp,{'attr':{'class':'form-control', 'multiple accept':'image/png, image/jpeg'}}) }}
                                <div class="form-file-path"></div>
                            </div>
                            {{ form_label(form.grade, 'Niveau')}}
                            {{ form_errors(form.grade)}}
                            {{ form_widget(form.grade) }}
                        </div>
                    </div>
                    <div class="btn">
                        <button class="btn-formu" type="submit">Valider</button>
                    </div>

            {{ form_end(form)}}
            </div>
        </div>
        </div>
    </div>
</div>
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/axentix@1.3.3/dist/js/axentix.min.js"></script>

    <script>
        Axentix.updateInputs()
    </script>
{% endblock %}
{% endblock %}
