{% include "navbarProf.html.twig" %}

{% block title %}Depart Anticipé
{% endblock %}

{% block body %}

	<div class="login">
		<div class="lo cart">
			<h1 class="fontDepAnt bck">Depart anticipé</h1>
			{{ form_start(form) }}
			<div class="centrage">
				<div class="formcontainer2">
					<div class="GrandFlex">
						<div class="flexy1">
							<div class="blok">
								<p>
									<label for="dep_ant_prof_motif">Motif du retard
									</label>
								</p>
								{{form_widget(form.motif, {'attr': {'class':'form-control'}})}}
							</div>
							<div class="blok">
								<p>
									<label for="dep_ant_prof_email1">Email scolarité</label>
								</p>
								{{form_widget(form.email1, {'attr': {'class':'form-control'}})}}
							</div>
						</div>
						<div class="flexy2 mg left">
							<div class="blok">
								<p>
									<label for="dep_ant_prof_tempDep">Temps de depart
									</label>
								</p>
								{{ form_widget(form.tempDep, {'attr': {'class':'form-control'}})}}
							</div>
							<div class="blok">
								<p>
									<label for="dep_ant_prof_tempArr">Temps d'arrivé
									</label>
								</p>
								{{ form_widget(form.tempArr, {'attr': {'class':'form-control'}}) }}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="btnForm ">
				<button type="submit" class="btn-formu">Envoyer</button>
			</div>
			{{ form_end(form) }}
		</div>
		{% for message in app.flashes('success') %}
			<div class="ic">
				<div class="success-msgico normal">
					<i class="far fa-check-circle"></i>
				</div>
				<h3 class="success-msgtxt normal">
					<p>{{ message }}</p>
				</h3>
			</div>
		{% endfor %}
	</div>

{% endblock %}
