{% include "navbarEtudiant.html.twig" %}

{% block title %}Absence Etudiant
{% endblock %}

{% block body %}
	<div class="login">
		<div class="lo cart">
			<h1 class="font bck ">Absence</h1>
			{{form_start(form)}}
			<div class="centrage">
				<div class="formcontainer2">
					<div class="blok">
						<p>
							<label for="absence_et_motif">Motif de l'absence</label>
						</p>
						{{form_widget(form.motif, {'attr': {'class':'form-control'}})}}
					</div>		
					<div class="blok">
						<p>
							<label for="absence_et_email1">Email des parents</label>
						</p>
						{{form_widget(form.email1, {'attr': {'class':'form-control'}})}}
					</div>
					{# <div class="blok">
						<p>
							<label for="absence_et_email2">Email de la scolarité</label>
						</p>
						{{form_widget(form.email2, {'attr': {'class':'form-control'}})}}
					</div> #}
					<label for="absence_et_imgJustif">Pièce Justificatif</label>
					<div class="form-file">
						<label for="absence_et_imgJustif">
							<i class="fas fa-camera fa-2x"></i>
						</label>
						{{ form_widget(form.imgJustif,{'attr':{'class':'form-control', 'multiple accept':'image/png, image/jpeg'}}) }}
						<div class="form-file-path"></div>
					</div>
					<div class="btnForm">
						<button class="btn-formu" type="submit">Envoyer</button>
					</div>
				</div>
			</div>
			{{form_end(form)}}
		</div>
		{% for message in app.flashes('success') %}
			<div class="ic">
				<div class="success-msgico normal">
					<i class="far fa-check-circle"></i>
				</div>
				<h3 class="success-msgtxt normal">
					<p>{{ message }}</p>
				</h3>
			</div>
		{% endfor %}
	</div>
	{% block javascripts %}
		<script src="https://cdn.jsdelivr.net/npm/axentix@1.3.3/dist/js/axentix.min.js"></script>

		<script>
			Axentix.updateInputs()
		</script>
	{% endblock %}
{% endblock %}
