{% include "navbarEtudiant.html.twig" %}

{% block title %}Retard
{% endblock %}

{% block body %}

	<div class="login">
		<div class="lo cart">
			<h1 class="font bck">Retard</h1>
			{{ form_start(form) }}
			<div class="centrage">
				<div class="formcontainer2">
					<div class="blok">
						<p>
							<label for="retard_etudiant_motif">Motif du retard
							</label>
						</p>
					</div>
					<div class="blok">
						{{ form_widget(form.motif) }}
					</div>
					<div class="GrandFlex">
						<div class="flexy1">
							<div class="timeA">
								<label for="retard_etudiant_tempCours">Temps du cours</label>
								{{ form_widget(form.tempCours)}}
							</div>
							<div class="timeA">
								<label for="retard_etudiant_tempArr">Temps d'arrivé</label>
								{{ form_widget(form.tempArr) }}
							</div>
						</div>
						<div class="flexy2">
							<div class="clock">
								<i class="far fa-clock"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="btnForm">
				<button type="submit" class="btn-formu">Envoyer</button>
			</div>
			{{ form_end(form) }}
		</div>
		{% for message in app.flashes('success') %}
			<div class="ic">
				<div class="success-msgico normal">
					<i class="far fa-check-circle"></i>
				</div>
				<h3 class="success-msgtxt normal">
					<p>{{ message }}</p>
				</h3>
			</div>
		{% endfor %}
	</div>
	<script src="/assets/js/clock.js"></script>
	<link rel="stylesheet" href="/assets/css/clock.scss">
{% endblock %}
