{% include "navbarEtudiant.html.twig" %}

{% block title %}Retard
{% endblock %}

{% block body %}

	<div class="login">
		<div class="lo cart">
			<h1 class="font bck">Retard</h1>
			{{ form_start(form) }}
			<div class="centrage">
				<div class="formcontainer2">
					<div class="GrandFlex">
						<div class="flexy1">
							<div class="blok">
								<p>
									<label for="retard_etudiant_motif">Motif du retard
									</label>
								</p>
								{{form_widget(form.motif, {'attr': {'class':'form-control'}})}}
							</div>
							<div class="blok">
								<p>
									<label for="absence_et_email1">Email des parents</label>
								</p>
								{{form_widget(form.email1, {'attr': {'class':'form-control'}})}}
							</div>
						</div>
						<div class="flexy2 mg left">
							<div class="GrandFlex">
								<div class="flexy1 center">
									<div class="timeA">
										<label for="retard_etudiant_tempCours">Temps du cours</label>
										{{ form_widget(form.tempCours, {'attr': {'class':'form-control'}})}}
									</div>
									<div class="timeA">
										<label for="retard_etudiant_tempArr">Temps d'arrivé</label>
										{{ form_widget(form.tempArr, {'attr': {'class':'form-control'}}) }}
									</div>
								</div>
								{# <div class="flexy2 center">
									<div class="clock">
										<i class="far fa-clock"></i>
									</div>
								</div> #}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="btnForm">
				<button type="submit" class="btn-formu">Envoyer</button>
			</div>
			{{ form_end(form) }}
		</div>
		{% for message in app.flashes('success') %}
			<div class="ic">
				<div class="success-msgico normal">
					<i class="far fa-check-circle"></i>
				</div>
				<h3 class="success-msgtxt normal">
					<p>{{ message }}</p>
				</h3>
			</div>
		{% endfor %}
	</div>
	<script src="/assets/js/clock.js"></script>
	<link rel="stylesheet" href="/assets/css/clock.scss">
{% endblock %}
